@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Ubuntu&display=swap');
html {
    background-color: #9aa18c;
}
.input-fields input {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

input {
    border: none;
    height: 100%;
    width: 100%;

    border-radius: 3px;
    justify-content: space-between;
    padding-left: 10px;
}

.push input {
    font-size: 28px;
    background: none;
}

.push input:focus {
    background: none;
    border: none;
}

input:focus {
    background-color: #FFFFFF;
    border: 0;
    outline: 0;
}

::placeholder {
    color: rgba(160, 166, 189, 0.25);
}

.container {
    width: 500px;
    height: 365px;
    margin: calc(30% - 182px) auto;
    /*padding: 50px 20px;*/
    border: 3px solid white;
    box-shadow: 0px 0px 17px #365605;
}

.wrapper {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #0a0a0a;
    background-size: 250px;
    /*background-image: url("img/imFor.webp");*/
    background-repeat: repeat;
    opacity: 0.8;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 72px);
    grid-template-columns: 1fr 1fr 1.5fr .25fr;
    grid-gap: 16px;
    grid-template-areas:
    "dis dis dis dis"
    "add sub result clr"
    "div mul result clr"
    "num num num num";
}

.grid-container > div {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, rgba(238, 248, 237, 0.82) 5%, rgba(84, 112, 39, 0.35) 100%);
}

.push:hover {
    cursor: pointer;
    background: linear-gradient(#ffffff 0%, rgba(46, 73, 4, 0.45) 80%);
}

.push input {
    cursor: pointer;
}

.display {
    grid-area: dis;
    background: whitesmoke;
}

form .display {
    display: flex;
    justify-content: center;
}

.display input {
    text-align: center;
    flex: 1;
    font-size: 40px;
    background: none;
}

.display input:focus {
    background: none;
    border: none;
}

.num {
    grid-area: num;
    background: #ffffff;
}

.num input {
    margin-right: 20px;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.clear {
    grid-area: clr;
}

.clear input {
    display: inline-block;
    background: none;
    padding: 0;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 18px;
}

.addition {
    grid-area: add;
}

.subtraction {
    grid-area: sub;
}

.division {
    grid-area: div;
}

.result {
    grid-area: result;
}

#parentModal {
    background: rgb(60, 73, 103);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.wrapper > p {
    position: absolute;
    top: -50px;
    right: -20px;
    color: white;
}

button {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.button-toggle {
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.dark-theme {
    background-color: rgba(31, 22, 22, 0.88);
    /*--main-color: rgba(31, 22, 22, 0.88);*/
    /*--second-color: rgba(148, 58, 0, 0.83);*/
}


